{% extends 'base.html' %}

{% load widget_tweaks %}

{% block navlink %}
<div class="position-sticky pt-3">
<ul class="nav flex-column">
    <li class="nav-item">
    <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        Página Inicial
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link"  href="{% url 'project_management:management' %}">
        <span data-feather="home"></span>
        Painel de gerenciamento
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:add_project' %}">
        <span data-feather="file"></span>
        Adicionar projetos
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:all_methodologies' %}">
        <span data-feather="file"></span>
        Metodologias de Data Science
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:all_team_members' %}">
        <span data-feather="file"></span>
        Equipe
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <span data-feather="file"></span>
        Relatório
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        Controle de Acessos
    </a>
    </li>
</ul>
</div>
{%endblock navlink%}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 form-group border-bottom">
  <div class="col-md-9 ms-sm-auto col-lg-10 col-xl-12">
      <h1>Controle de Acesso de Usuários</h1>
      {% include 'partials/messages.html' %}
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <form method="POST" action=".">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">Nome:</label>
                {{ form.first_name|add_class:"form-control"|attr:"autofocus" }}
              </div>
              <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}" class="form-label">Sobrenome:</label>
                {{ form.last_name|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="form-label">Nome de usuário:</label>
                {{ form.username|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="form-label">E-mail:</label>
                {{ form.email|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="form-label">Senha de acesso:</label>
                {{ form.password|add_class:"form-control"|attr:"type:password" }}
              </div>
  <!--            <div class="form-group form-check">-->
  <!--              <input type="checkbox" class="form-check-input" id="Check1">-->
  <!--              <label class="form-check-label" for="Check1">Check me out</label>-->
  <!--            </div>-->
              <button type="submit" class="btn btn-success">Cadastrar Usuário</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock main %}
{% block footer %}
{% endblock footer %}