{% extends 'base.html' %}

{% load widget_tweaks %}

{% block navlink %}
<div class="position-sticky pt-3">
<ul class="nav flex-column">
    <li class="nav-item">
    <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        Página Inicial
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link"  href="{% url 'project_management:management' %}">
        <span data-feather="home"></span>
        Painel de gerenciamento
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:add_project' %}">
        <span data-feather="file"></span>
        Adicionar projetos
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:all_methodologies' %}">
        <span data-feather="file"></span>
        Metodologias de Data Science
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:all_team_members' %}">
        <span data-feather="file"></span>
        Equipe
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <span data-feather="file"></span>
        Relatório
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        Controle de Acessos
    </a>
    </li>
</ul>
</div>
{%endblock navlink%}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 form-group border-bottom">
  <div class="col-md-9 ms-sm-auto col-lg-10 col-xl-12">
      <h1>Alterar sua senha</h1>
      {% include 'partials/messages.html' %}
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <form method="POST" action=".">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}" class="form-label">Senha antiga:</label>
                {{ form.old_password|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nova senha de acesso:</label>
                  <p style="margin:0; font-size:8pt">A nova senha precisa ter pelo menos 8 caracteres*</p>
                {{ form.new_password1|add_class:"form-control"|attr:"type:password" }}
              </div>
              <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Repita a nova senha de acesso:</label>
                {{ form.new_password2|add_class:"form-control"|attr:"type:password" }}
              </div>
              <button type="submit" class="btn btn-success">Alterar Senha</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock main %}
{% block footer %}
{% endblock footer %}