{% extends 'base.html' %}

{% block navlink %}
<div class="position-sticky pt-3">
<ul class="nav flex-column">
    <li class="nav-item">
    <a class="nav-link"   href="/">
        <span data-feather="home"></span>
        Página Inicial
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link"  href="{% url 'project_management:management' %}">
        <span data-feather="home"></span>
        Painel de gerenciamento
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:add_project' %}">
        <span data-feather="file"></span>
        Adicionar projetos
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="{% url 'project_management:all_methodologies' %}">
        <span data-feather="file"></span>
        Metodologias de Data Science
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'project_management:all_team_members' %}">
        <span data-feather="file"></span>
        Equipe
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <span data-feather="file"></span>
        Relatório
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'accounts:add_user' %}">
        <span data-feather="file"></span>
        Controle de Acessos
    </a>
    </li>
</ul>
</div>
{%endblock navlink%}
{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="col-md-10 ms-sm-auto col-lg-12 col-xl-12 ">
            <h1>Metodologias</h1>
            <div class="pt-3 pb-2 mb-3">
                <a type="button" class="btn btn-success" href="{% url 'project_management:add_methodology' %}">Adicionar Metodologia</a>
            </div>
           
            <div class="container">
                <div class="row justify-content-evenly align-items-start ">
                    {% for methodology in methodologies %}
                        <div class="card col-auto m-4 p-1">
                            <div class="card-body">
                                <div class="card-title">
                                    <div class="col-xs">{{ methodology.id }}</div>
                                    <div class="col"><h3>{{ methodology.name }}</h3></div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {%for step in steps %}
                                        {% if step.methodology_id == methodology.id  %} 
                                            <li class="list-group-item">{{step.order}} - {{ step.name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="card-footer row justify-content-between">
                                    <div class="col-xs  p-1">
                                        <a class="btn btn-success" href="{% url 'project_management:edit_methodology' methodology.id %}">Editar</a>
                                    </div>
                                    <div class="col-xs p-1">
                                        <a class="btn btn-warning confirm-delete" data-toggle="modal" data-target="#confirmDeleteModal" id="deleteButton-{{ methodology.id }}" href="{% url 'project_management:delete_methodology' methodology.id %}">Excluir</a>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% include 'partials/confirm_delete_modal.html' %}
{% endblock main %}
